<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>

<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 th:inline="text">Department Budget [[${year_project}]]</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO - Invoice, Top 5</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="areaChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Budget - Realisasi, Top 5</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="areaChart2" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Summary Project Periode <span th:text="${year_project}"></span></h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row col-md-12">
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab_1" data-toggle="tab">PO - Invoice</a></li>
                                                    <li><a href="#tab_2" data-toggle="tab">Budget - Realisasi</a></li>
                                                    <li><a href="#tab_3" data-toggle="tab">Laba Rugi</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1">
                                                        <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark small table-condensed">
                                                            <thead>
                                                            <tr>
                                                                <th class="text-center">Project Type</th>
                                                                <th class="text-center">Tahun</th>
                                                                <th class="text-center">Jumlah Site</th>
                                                                <th class="text-center">Site Cancel</th>
                                                                <th class="text-center">Estimasi Nilai PO</th>
                                                                <th class="text-center">Nilai PO</th>
                                                                <th class="text-center">Nilai INV</th>
                                                                <th class="text-center">%</th>
                                                                <th class="text-center">Belum Tertagih</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="dataRow: ${cmeSummaryYearProjectTypeDataList}">
                                                                <td class="text-left small"  th:text="${dataRow.project_type}">Colo</td>
                                                                <td class="text-left small" th:text="${dataRow.year_project}">2018</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.jumlah_site, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.site_cancel, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.estimate_po, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_po, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_invoice, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage, 1, 'POINT', 2, 'COMMA')}">73%</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.remaining_invoice, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small">
                                                                    <a th:href="@{'/project/download/' + ${dataRow.year_project} + '/' + ${dataRow.site_type_id}}">Download</a> ||
                                                                    <a th:href="@{'/project/' + ${dataRow.year_project} + '/' + ${dataRow.site_type_id}}">Details</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <th></th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(total[2], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(total[3], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(total[4], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalPercent, 1, 'POINT', 2, 'COMMA')}">73%</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(total[5], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right"></th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                    <div class="tab-pane" id="tab_2">
                                                        <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark small table-condensed">
                                                            <thead>
                                                            <tr>
                                                                <th class="text-center">Project Type</th>
                                                                <th class="text-center">Tahun</th>
                                                                <th class="text-center">Jumlah Site</th>
                                                                <th class="text-center">Site Cancel</th>
                                                                <th class="text-center">Nilai Budget</th>
                                                                <th class="text-center">Realisasi Budget</th>
                                                                <th class="text-center">%</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="dataRow: ${cmeSummaryYearProjectTypeDataList}">
                                                                <td class="text-left small" th:text="${dataRow.project_type}">Colo</td>
                                                                <td class="text-left small" th:text="${dataRow.year_project}">2018</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.jumlah_site, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.site_cancel, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_budget, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage_realization, 1, 'POINT', 2, 'COMMA')}">73%</td>
                                                                <td class="text-right small">
                                                                    <a th:href="@{'/project/download/' + ${dataRow.year_project} + '/' + ${dataRow.site_type_id}}">Download</a> ||
                                                                    <a th:href="@{'/project/' + ${dataRow.year_project} + '/' + ${dataRow.site_type_id}}">Details</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <th></th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalBudget[0], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalBudget[1], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalBudget[2], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalBudget[3], 1, 'POINT', 2, 'COMMA')}">73%</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalPercentBudget, 1, 'POINT', 2, 'COMMA')}">73%</th>
                                                                    <th class="text-right"></th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                    <div class="tab-pane" id="tab_3">
                                                        <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark small table-condensed">
                                                            <thead>
                                                            <tr>
                                                                <th class="text-center">Project Type</th>
                                                                <th class="text-center">Tahun</th>
                                                                <th class="text-center">Jumlah Site</th>
                                                                <th class="text-center">Site Cancel</th>
                                                                <th class="text-center">Laba Rugi</th>
                                                                <th class="text-center">% profit-realisasi</th>
                                                                <th class="text-center">% profit-po</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="dataRow: ${cmeSummaryYearProjectTypeDataList}">
                                                                <td class="text-left small" th:text="${dataRow.project_type}">Colo</td>
                                                                <td class="text-left small" th:text="${dataRow.year_project}">2018</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.jumlah_site, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.site_cancel, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit_loss, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage_profit_realization, 1, 'POINT', 2, 'COMMA')}">73%</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage_profit_po, 1, 'POINT', 2, 'COMMA')}">73%</td>
                                                                <td class="text-right small">
                                                                    <a th:href="@{'/project/download/' + ${dataRow.year_project} + '/' + ${dataRow.site_type_id}}">Download</a> ||
                                                                    <a th:href="@{'/project/' + ${dataRow.year_project} + '/' + ${dataRow.site_type_id}}">Details</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <th></th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalLabaRugi[0], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalLabaRugi[1], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalLabaRugi[2], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalPercentLabaRugiRealisasi, 1, 'POINT', 2, 'COMMA')}">73%</th>
                                                                    <th class="text-right" th:text="${#numbers.formatDecimal(totalPercentLabaRugiPo, 1, 'POINT', 2, 'COMMA')}">73%</th>
                                                                    <th class="text-right"></th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
    <script th:inline="javascript">
        $(document).ready(function(){
            var color = Chart.helpers.color;
            var ctx = document.getElementById("areaChart")
            var ctx2 = document.getElementById("areaChart2")
            var myChart = new Chart(ctx,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${cmeSummaryYearProjectTypeDataList1}"]*/
                        [[${dataRow.project_type}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai PO",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${cmeSummaryYearProjectTypeDataList1}"]*/
                            [[${dataRow.nilai_po}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Nilai Invoice',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${cmeSummaryYearProjectTypeDataList1}"]*/
                            [[${dataRow.nilai_invoice}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                }
            })

            var myChart2 = new Chart(ctx2,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${cmeSummaryYearProjectTypeDataList2}"]*/
                        [[${dataRow.project_type}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai Budget",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${cmeSummaryYearProjectTypeDataList2}"]*/
                            [[${dataRow.nilai_budget}]],
                            /*[/]*/
                        ]
                    },
                        {
                            label               : 'Realisasi Budget',
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                            data                : [
                                /*[# th:each="dataRow: ${cmeSummaryYearProjectTypeDataList2}"]*/
                                [[${dataRow.realisasi_budget}]],
                                /*[/]*/
                            ]
                        }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                }
            })
        })
    </script>
</body>
</html>