<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>

<body class="bg-gray">
<nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
<main role="main" class="container">
    <div class="box">
        <div class="box-body">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="col-md-12" th:each="dataRow: ${cmeSummaryYearTypeCustDetailDataList}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 th:inline="text">Project Budget [[${tahun}]] [[${project_type}]] Customer [[${customer_name}]]</h3>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="box col-md-12">
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        General Information
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Tahun</label>
                                                <input type="text" class="form-control" placeholder="Tahun" disabled="" th:value="${dataRow.year_project}">
                                            </div>
                                            <div class="form-group">
                                                <label>Customer</label>
                                                <input type="text" class="form-control" placeholder="Customer" disabled=""
                                                       th:value="${dataRow.customer}">
                                            </div>
                                            <div class="form-group">
                                                <label>Jumlah Site</label>
                                                <input type="text" class="form-control" placeholder="Jumlah Site" disabled=""
                                                       th:value="${dataRow.jumlah_site}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        PO Information
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nilai PO</label>
                                                <input type="text" class="form-control" placeholder="Nilai PO" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.nilai_po, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                            <div class="form-group">
                                                <label>Nilai Invoice</label>
                                                <input type="text" class="form-control" placeholder="Nilai Invoice" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.nilai_invoice, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>% PO</label>
                                                <input type="text" class="form-control" placeholder="% PO" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.percentage, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-header with-border">
                                        Budget Information
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nilai Budget</label>
                                                <input type="text" class="form-control" placeholder="Nilai Budget" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.nilai_budget, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                            <div class="form-group">
                                                <label>Realisasi</label>
                                                <input type="text" class="form-control" placeholder="Realisasi" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>% Budget</label>
                                                <input type="text" class="form-control" placeholder="% Budget" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.percentage_realization, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-header with-border">
                                        Laba Rugi Information
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Laba / Rugi</label>
                                                <input type="text" class="form-control" placeholder="Laba / Rugi" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.profit_loss, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>% Laba / Rugi</label>
                                                <input type="text" class="form-control" placeholder="% Laba / Rugi" disabled=""
                                                       th:value="${#numbers.formatDecimal(dataRow.percentage_profit_realization, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">PO - Invoice, Top 5</h3>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="areaChart" style="height: 250px"></canvas>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-md-6">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Budget - Realisasi, Top 5</h3>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="areaChart2" style="height: 250px"></canvas>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Summary Project Customer Periode <span th:text="${tahun}"></span></h3>
                                </div>
                                <div class="box-body">
                                    <div class="row col-md-12">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab_1" data-toggle="tab">Estimasi PO - Budget</a></li>
                                                <li><a href="#tab_2" data-toggle="tab">PO - Invoice - Laba Rugi</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark small table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">Project Name</th>
                                                            <th class="text-center">Area</th>
                                                            <th class="text-center">Estimasi Nilai PO</th>
                                                            <th class="text-center">Estimasi Budget</th>
                                                            <th class="text-center">Gross Margin</th>
                                                            <th class="text-center">%</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!--<tr th:each="dataRowProject: ${dataRow.project_list}" th:if="${dataRowProject.estimate_po != 0}">-->
                                                        <tr th:each="dataRowProject: ${dataRow.project_list}">
                                                            <td class="text-left small" th:text="${dataRowProject.project_id + ' - ' + dataRowProject.name}">Colo</td>
                                                            <td class="text-left small" th:text="${dataRowProject.area}">Colo</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.estimate_po, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.nilai_budget, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.estimate_po - dataRowProject.nilai_budget, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.percent_po, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th>Total</th>
                                                            <th></th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(totalPoBudget[0], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(totalPoBudget[1], 1, 'POINT', 2, 'COMMA')}">999</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(grossMargin, 1, 'POINT', 2, 'COMMA')}">999</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(percentPoBudget, 1, 'POINT', 2, 'COMMA')}">999</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="tab_2">
                                                    <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark small table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">Project Name</th>
                                                            <th class="text-center">Area</th>
                                                            <th class="text-center">No PO</th>
                                                            <th class="text-center">Nilai PO</th>
                                                            <th class="text-center">Nilai Invoice</th>
                                                            <th class="text-center">Realisasi Budget</th>
                                                            <th class="text-center">Laba/Rugi</th>
                                                            <th class="text-center">% Laba/Rugi</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!--<tr th:each="dataRowProject: ${dataRow.project_list}" th:if="${dataRowProject.estimate_po != 0}">-->
                                                        <tr th:each="dataRowProject: ${dataRow.project_list}">
                                                            <td class="text-left small" th:text="${dataRowProject.project_id + ' - ' + dataRowProject.name}">Colo</td>
                                                            <td class="text-left small" th:text="${dataRowProject.area}">Colo</td>
                                                            <td class="text-left small" th:text="${dataRowProject.no_po}">Colo</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.nilai_po, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.nilai_invoice, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">73%</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.nilai_invoice - dataRowProject.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowProject.percent_labarugi, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td>Total</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="text-right" th:text="${#numbers.formatDecimal(totalInvLabRug[0], 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right" th:text="${#numbers.formatDecimal(totalInvLabRug[1], 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right" th:text="${#numbers.formatDecimal(totalInvLabRug[2], 1, 'POINT', 2, 'COMMA')}">73%</td>
                                                                <td class="text-right" th:text="${#numbers.formatDecimal(grossMarginInvLabRug, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                                <td class="text-right" th:text="${#numbers.formatDecimal(percentInvLabRug, 1, 'POINT', 2, 'COMMA')}">999</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
<script th:inline="javascript">
        $(document).ready(function(){
            var color = Chart.helpers.color;
            var ctx = document.getElementById("areaChart")
            var ctx2 = document.getElementById("areaChart2")
            var myChart = new Chart(ctx,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${cmeYearTypeCustProjectGraph1}"]*/
                        [[${dataRow.project_id}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai PO",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${cmeYearTypeCustProjectGraph1}"]*/
                            [[${dataRow.nilai_po}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Nilai Invoice',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${cmeYearTypeCustProjectGraph1}"]*/
                            [[${dataRow.nilai_invoice}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.labels[tooltipItems.index] + ": " + data.datasets[0].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 120000000
                            }
                        }]
                    }
                }
            })

            var myChart2 = new Chart(ctx2,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${cmeYearTypeCustProjectGraph1}"]*/
                        [[${dataRow.project_id}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai Budget",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${cmeYearTypeCustProjectGraph1}"]*/
                            [[${dataRow.nilai_budget}]],
                            /*[/]*/
                        ]
                    },
                        {
                            label               : 'Realisasi Budget',
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                            data                : [
                                /*[# th:each="dataRow: ${cmeYearTypeCustProjectGraph1}"]*/
                                [[${dataRow.realisasi_budget}]],
                                /*[/]*/
                            ]
                        }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.labels[tooltipItems.index] + ": " + data.datasets[0].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 120000000
                            }
                        }]
                    }
                }
            })
        })
    </script>
</body>
</html>