<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Project Recap Summary</h3>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO Project Vs BAST Vs Invoice Vs Paid ( Qty )</h3>
                                    </div>
                                    <div class="box-body with-border">
                                        <div class="chart">
                                            <canvas id="ProjectQtyChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO Vs Realisasi Vs Invoice Vs Paid</h3>
                                    </div>
                                    <div class="box-body with-border">
                                        <div class="chart">
                                            <canvas id="ProjectPaidChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Total PO based on Aging</h3>
                                    </div>
                                    <div class="box-body with-border">
                                        <div class="chart">
                                            <canvas id="ProjectAgingChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box box-success with-border">
                            <div class="box-header with-border">
                                Filter By
                            </div>
<!--                            <form method="post" action="/prasetia_erp/project/recap">-->
                            <form method="post" action="/project/recap">
                            <div class="box-body with-border">
                                <div class="row">
                                    <div class="box no-border">
                                        <div class="box-header">
                                            Site Type
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="2"
                                                               th:checked="${site_type_filter_value[0]}">
                                                        Collocation
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="80"
                                                               th:checked="${site_type_filter_value[1]}">
                                                        Construction Building
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="10"
                                                               th:checked="${site_type_filter_value[2]}">
                                                        Fiber Optic
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="8"
                                                               th:checked="${site_type_filter_value[3]}">
                                                        Maintenance Corrective
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="7"
                                                               th:checked="${site_type_filter_value[4]}">
                                                        Maintenance Preventive
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="3"
                                                               th:checked="${site_type_filter_value[5]}">
                                                        Miscellanous
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="1"
                                                               th:checked="${site_type_filter_value[6]}">
                                                        New Site
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="site_type_filter[]" value="5"
                                                               th:checked="${site_type_filter_value[7]}">
                                                        Sitac
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="box no-border">
                                        <div class="box-header">
                                            Tahun
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="year_filter[]" value="2019"
                                                               th:checked="${year_filter_value[0]}">
                                                        2019
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="year_filter[]" value="2018"
                                                               th:checked="${year_filter_value[1]}">
                                                        2018
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="year_filter[]" value="2017"
                                                               th:checked="${year_filter_value[2]}">
                                                        2017
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label class="small">
                                                        <input type="checkbox" name="year_filter[]" value="2016"
                                                               th:checked="${year_filter_value[3]}">
                                                        2016
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--<a href="#" class="btn btn-primary col-md-12">Apply Filter</a>-->
                                    <button type="submit" value="Submit" class="btn btn-primary col-md-12">Apply Filter</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
    <script th:inline="javascript">
        $(document).ready(function() {
            var color = Chart.helpers.color;

            var ctx = document.getElementById("ProjectQtyChart");
            var myChart = new Chart(ctx,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${projectRecapDataList}"]*/
                        [[${dataRow.site_type}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "PO",
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        // backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${projectRecapDataList}"]*/
                            [[${dataRow.po}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'BAST',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        // backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${projectRecapDataList}"]*/
                            [[${dataRow.bast}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Invoiced',
                        backgroundColor: window.chartColors.yellow,
                        borderColor: window.chartColors.yellow,
                        // backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${projectRecapDataList}"]*/
                            [[${dataRow.invoiced}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Paid',
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        // backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${projectRecapDataList}"]*/
                            [[${dataRow.paid}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.datasets[tooltipItems.datasetIndex].label + ": " + data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                }
                            }
                        }]
                    }
                }
            })

            var ctxPaid = document.getElementById("ProjectPaidChart");
            var myChartPaid = new Chart(ctxPaid,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${projectRecapByValueDataList}"]*/
                        [[${dataRow.site_type}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai PO",
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        // backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${projectRecapByValueDataList}"]*/
                            [[${dataRow.nilai_po}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Realisasi Budget',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        // backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${projectRecapByValueDataList}"]*/
                            [[${dataRow.realisasi_budget}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Invoice Open',
                        backgroundColor: window.chartColors.yellow,
                        borderColor: window.chartColors.yellow,
                        // backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${projectRecapByValueDataList}"]*/
                            [[${dataRow.invoice_open}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Invoice Paid',
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        // backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${projectRecapByValueDataList}"]*/
                            [[${dataRow.invoice_paid}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.datasets[tooltipItems.datasetIndex].label + ": " + data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 1000
                            }
                        }]
                    }
                }
            })

            var ctxAging = document.getElementById("ProjectAgingChart");
            var myChartAging = new Chart(ctxAging,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${projectRecapAgingDataList}"]*/
                        [[${dataRow.site_type}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "< 30",
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        // backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${projectRecapAgingDataList}"]*/
                            [[${dataRow.less_30}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label: "30 - 60",
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        // backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${projectRecapAgingDataList}"]*/
                            [[${dataRow.between_30_60}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label: "> 60",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        // backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${projectRecapAgingDataList}"]*/
                            [[${dataRow.greater_60}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.datasets[tooltipItems.datasetIndex].label + ": " + data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                }
                            }
                        }]
                    }
                }
            })
        });
    </script>
</body>
</html>
