.bg-secondary-blue{
    background-color: #4f70ce !important;
}

.table-bordered {
    border: 1px solid #000000!important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #000000 !important;
}