<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{lte/header :: lte_header}"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="~{lte/header :: lte_main_header}"></div>
        <div class="content-wrapper">
            <section class="content">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-th"></span> Budget Dashboard</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>MP-B</h3>

                                        <p>Maintenance <br/> Preventive</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-cube"></i>
                                    </div>
                                    <a th:href="@{'/preventive'}"class="small-box-footer">More Detail<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>MC-B</h3>

                                        <p>Maintenance <br/> Corrective</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-cube"></i>
                                    </div>
                                    <a th:href="@{'/corrective'}"class="small-box-footer">More Detail<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-purple">
                                    <div class="inner">
                                        <h3>PRJ-B</h3>

                                        <p>Project <br/> CME</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-cube"></i>
                                    </div>
                                    <a th:href="@{'/project'}"class="small-box-footer">More Detail<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-blue">
                                    <div class="inner">
                                        <h3>Dept-B</h3>

                                        <p>Internal <br/> Department</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-cube"></i>
                                    </div>
                                    <a th:href="@{'/budget_department'}" class="small-box-footer">More Detail<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="~{lte/footer :: lte_footer}"></div>
    </div>
    <div th:replace="~{lte/footer :: lte_script}"></div>
</body>
</html>
