<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Maintenance Corrective Projects Report</h3>
                                    </div>
                                    <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                        <thead>
                                        <tr>
                                            <th class="small text-center">Periode</th>
                                            <th class="small text-center">Jumlah SIte</th>
                                            <th class="small text-center">Nilai PO</th>
                                            <th class="small text-center">Nilai Inv</th>
                                            <th class="small text-center">%</th>
                                            <th class="small text-center">Realisasi Budget</th>
                                            <th class="small text-center">Laba / Rugi</th>
                                            <th class="small text-center">% Laba / Rugi</th>
                                            <th class="small text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dataRow: ${correctiveSummaryDataList}">
                                            <td th:text="${dataRow.year_project}" class="small">Periode</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.jumlah_site, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_po, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_inv, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit_precentage, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small">
                                                <a th:href="@{'/corrective/xls/' + ${dataRow.year_project}}">Download</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>