<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 th:inline="text">Maintenance Corrective [[${tahun}]]</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO - Invoice, Top 5</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="areaChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Budget - Realisasi, Top 5</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="areaChart2" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Maintenance Corrective Projects Report</h3>
                                    </div>
                                    <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                        <thead>
                                            <tr>
                                                <th class=" text-center">Customer</th>
                                                <th class=" text-center">Jumlah Site</th>
                                                <th class=" text-center">Nilai PO</th>
                                                <th class=" text-center">Nilai Inv</th>
                                                <th class=" text-center">%</th>
                                                <th class=" text-center">Budget</th>
                                                <th class=" text-center">Realisasi Budget</th>
                                                <th class=" text-center">%</th>
                                                <th class=" text-center">Laba / Rugi</th>
                                                <th class=" text-center">%</th>
                                                <th class=" text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="dataRow: ${correctiveDataList}">
                                                <td th:text="${dataRow.code}" class="small">Customer</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.jumlah_site, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_po, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_inv, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.persent_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit_precentage, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-center small">
                                                    <a th:href="@{'/corrective/xls/' + ${tahun}}">Download</a> || <a th:href="@{'/corrective/' + ${dataRow.customer_id} + '/' + ${dataRow.year_project}}">Details</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="">Total</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(total[2], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(totalPercentInvPO, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(total[3], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(total[4], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(totalPercentRealisasiBudget, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(total[5], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right " th:text="${#numbers.formatDecimal(totalPercentLabaRugiPO, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-center "><a th:href="@{'/corrective/xls/' + ${tahun}}">Download</a></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
</body>
<script th:inline="javascript">
        $(document).ready(function(){
            var color = Chart.helpers.color;
            var ctx = document.getElementById("areaChart")
            var ctx2 = document.getElementById("areaChart2")
            var myChart = new Chart(ctx,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${correctiveDataListGraph}"]*/
                        [[${dataRow.code}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai PO",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${correctiveDataListGraph}"]*/
                            [[${dataRow.nilai_po}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Nilai Invoice',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${correctiveDataListGraph}"]*/
                            [[${dataRow.nilai_inv}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 5000000000
                            }
                        }]
                    }
                }
            })

            var myChart2 = new Chart(ctx2,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${correctiveDataListGraph2}"]*/
                        [[${dataRow.code}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai Budget",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${correctiveDataListGraph2}"]*/
                            [[${dataRow.nilai_budget}]],
                            /*[/]*/
                        ]
                    },
                        {
                            label               : 'Realisasi Budget',
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                            data                : [
                                /*[# th:each="dataRow: ${correctiveDataListGraph2}"]*/
                                [[${dataRow.realisasi_budget}]],
                                /*[/]*/
                            ]
                        }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 5000000000
                            }
                        }]
                    }
                }
            })
        })
    </script>
</html>