<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO - Invoice, Top 5</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="areaChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Budget - Realisasi</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="areaChart2" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Maintenance Corrective Projects Report</h3>
                                    </div>
                                    <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                        <thead>
                                            <tr>
                                                <th class="small text-center">Customer</th>
                                                <th class="small text-center">Jumlah Site</th>
                                                <th class="small text-center">Nilai PO</th>
                                                <th class="small text-center">Nilai Inv</th>
                                                <th class="small text-center">%</th>
                                                <th class="small text-center">Budget</th>
                                                <th class="small text-center">Realisasi Budget</th>
                                                <th class="small text-center">%</th>
                                                <th class="small text-center">Laba / Rugi</th>
                                                <th class="small text-center">%</th>
                                                <th class="small text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="dataRow: ${correctiveDataList}">
                                                <td th:text="${dataRow.code}" class="small">Customer</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.jumlah_site, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_po, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_inv, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.percentage, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.persent_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.profit_precentage, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                <td class="text-center small">
                                                    <a th:href="@{'/corrective/xls/' + ${tahun}}">Download</a> || <a th:href="@{'/corrective/details/' + ${dataRow.customer_id} + '/' + ${dataRow.year_project}}">Details</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="small">Total</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(total[2], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(totalPercentInvPO, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(total[3], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(total[4], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(totalPercentRealisasiBudget, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(total[5], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-right small" th:text="${#numbers.formatDecimal(totalPercentLabaRugiPO, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                <th class="text-center small"><a th:href="@{'/corrective/xls/' + ${tahun}}">Download</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
</body>
<script th:inline="javascript">
        $(document).ready(function(){
            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */

            //-------------
            //- BAR CHART -
            //-------------
            var areaChartData = {
              labels  : [
                /*[# th:each="dataRow: ${correctiveDataListGraph}"]*/
                    [[${dataRow.code}]],
                /*[/]*/
              ],
              datasets: [
                {
                  label               : 'Nilai PO',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : [
                      /*[# th:each="dataRow: ${correctiveDataListGraph}"]*/
                        [[${dataRow.nilai_po}]],
                      /*[/]*/
                  ]
                },
                {
                  label               : 'Nilai Invoice',
                  fillColor           : 'rgba(60,141,188,0.9)',
                  strokeColor         : 'rgba(60,141,188,0.8)',
                  pointColor          : '#3b8bba',
                  pointStrokeColor    : 'rgba(60,141,188,1)',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data                : [
                      /*[# th:each="dataRow: ${correctiveDataListGraph}"]*/
                        [[${dataRow.nilai_inv}]],
                      /*[/]*/
                  ]
                }
              ]
            }
            var barChartCanvas                   = $('#areaChart').get(0).getContext('2d')
            var barChart                         = new Chart(barChartCanvas)
            var barChartData                     = areaChartData
            barChartData.datasets[1].fillColor   = '#00a65a'
            barChartData.datasets[1].strokeColor = '#00a65a'
            barChartData.datasets[1].pointColor  = '#00a65a'
            var barChartOptions                  = {
              //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
              scaleBeginAtZero        : true,
              //Boolean - Whether grid lines are shown across the chart
              scaleShowGridLines      : true,
              //String - Colour of the grid lines
              scaleGridLineColor      : 'rgba(0,0,0,.05)',
              //Number - Width of the grid lines
              scaleGridLineWidth      : 1,
              //Boolean - Whether to show horizontal lines (except X axis)
              scaleShowHorizontalLines: true,
              //Boolean - Whether to show vertical lines (except Y axis)
              scaleShowVerticalLines  : true,
              //Boolean - If there is a stroke on each bar
              barShowStroke           : true,
              //Number - Pixel width of the bar stroke
              barStrokeWidth          : 2,
              //Number - Spacing between each of the X value sets
              barValueSpacing         : 5,
              //Number - Spacing between data sets within X values
              barDatasetSpacing       : 1,
              //String - A legend template
              legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
              //Boolean - whether to make the chart responsive
              responsive              : true,
              maintainAspectRatio     : true
            }

            barChartOptions.datasetFill = false
            barChart.Bar(barChartData, barChartOptions)

            //-------------
            //- BAR CHART -
            //-------------
            var areaChartData2 = {
              labels  : [
                /*[# th:each="dataRow: ${correctiveDataListGraph2}"]*/
                    [[${dataRow.code}]],
                /*[/]*/
              ],
              datasets: [
                {
                  label               : 'Nilai Bugdet',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : [
                      /*[# th:each="dataRow: ${correctiveDataListGraph2}"]*/
                        [[${dataRow.nilai_budget}]],
                      /*[/]*/
                  ]
                },
                {
                  label               : 'Nilai Realisasi',
                  fillColor           : 'rgba(60,141,188,0.9)',
                  strokeColor         : 'rgba(60,141,188,0.8)',
                  pointColor          : '#3b8bba',
                  pointStrokeColor    : 'rgba(60,141,188,1)',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data                : [
                      /*[# th:each="dataRow: ${correctiveDataListGraph2}"]*/
                        [[${dataRow.realisasi_budget}]],
                      /*[/]*/
                  ]
                }
              ]
            }
            var barChartCanvas2                   = $('#areaChart2').get(0).getContext('2d')
            var barChart2                         = new Chart(barChartCanvas2)
            var barChartData2                     = areaChartData2
            barChartData2.datasets[1].fillColor   = '#00a65a'
            barChartData2.datasets[1].strokeColor = '#00a65a'
            barChartData2.datasets[1].pointColor  = '#00a65a'
            var barChartOptions2                  = {
              //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
              scaleBeginAtZero        : true,
              //Boolean - Whether grid lines are shown across the chart
              scaleShowGridLines      : true,
              //String - Colour of the grid lines
              scaleGridLineColor      : 'rgba(0,0,0,.05)',
              //Number - Width of the grid lines
              scaleGridLineWidth      : 1,
              //Boolean - Whether to show horizontal lines (except X axis)
              scaleShowHorizontalLines: true,
              //Boolean - Whether to show vertical lines (except Y axis)
              scaleShowVerticalLines  : true,
              //Boolean - If there is a stroke on each bar
              barShowStroke           : true,
              //Number - Pixel width of the bar stroke
              barStrokeWidth          : 2,
              //Number - Spacing between each of the X value sets
              barValueSpacing         : 5,
              //Number - Spacing between data sets within X values
              barDatasetSpacing       : 1,
              //String - A legend template
              legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
              //Boolean - whether to make the chart responsive
              responsive              : true,
              maintainAspectRatio     : true
            }

            barChartOptions2.datasetFill = false
            barChart2.Bar(barChartData2, barChartOptions2)
        })
    </script>
</html>