<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12" th:each="dataRow : ${departmentDetailDataList}">
                        <div class="row col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 th:inline="text">Budget Department [[${dataRow.department_name}]] [[${periode}]]</h3>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="box col-md-12" >
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        General Information
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Tahun</label>
                                                <input type="text" class="form-control" placeholder="Tahun" disabled="" th:value="${periode}">
                                            </div>
                                            <div class="form-group">
                                                <label>Department</label>
                                                <input type="text" class="form-control" placeholder="department_name" disabled="" th:value="${dataRow.department_name}">
                                            </div>
                                            <div class="form-group">
                                                <button><a th:href="@{'/budget_department/xls/' + ${periode}+'/'+${department_id}}">Download</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        Budget and Realisasion
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nilai Budget</label>
                                                <input type="text" class="form-control" placeholder="Nilai Budget" disabled="" th:value="${#numbers.formatDecimal(dataRow.nilai_budget, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                            <div class="form-group">
                                                <label>Realisasi Budget</label>
                                                <input type="text" class="form-control" placeholder="Realisasi Budget" disabled="" th:value="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">
                                            </div>
                                            <div class="form-group">
                                                <label>% Department</label>
                                                <input type="text" class="form-control" placeholder="Persentase" disabled="" th:value="${dataRow.persent_budget}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="row col-md-12">
                                    <h4 >Departement Budget</h4>
                                <table class="table border table-bordered table-sm table-striped small">
                                    <thead>
                                    <tr>
                                        <th class=" text-center">No Budget</th>
                                        <th class=" text-center">No Budget Item</th>
                                        <th class=" text-center">Item Description</th>
                                        <th class=" text-center">Nilai Budget</th>
                                        <th class=" text-center">Realisasi Budget</th>
                                        <th class=" text-center"> % </th>
                                        <th class=" text-center"> action </th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                        <span th:each="dataRowDetail: ${dataRow.department_budget}">
                                            <span th:each="dataRowDetailDetail: ${dataRowDetail.budget_detail}">
                                                <tr >
                                                        <td class="text-left small" th:text="${dataRowDetail.name}"></td>
                                                        <td class="text-left small" th:text="${dataRowDetailDetail.code}"></td>
                                                        <td class="text-left small" th:text="${dataRowDetailDetail.budget_item_view}"></td>
                                                        <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowDetailDetail.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                        <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowDetailDetail.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                        <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowDetailDetail.persent_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                        <td class="text-right small">
                                                            <a th:href="@{'/budget_department/' + ${periode} +'/'+${department_id}+ '/' + ${dataRowDetailDetail.line_id}}">Detail</a>
                                                        </td>
                                                </tr>
                                                </span>
                                            </span>
                                        </span>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center " >TOTAL</th>
                                            <th class="text-left" ></th>
                                            <th class="text-left" ></th>
                                            <th class="text-right" th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                            <th class="text-right" th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                            <th class="text-right" th:text="${#numbers.formatDecimal(totalPercentRealisasiBudget, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                            <td class="text-right">
                                                <a th:href="@{'/budget_department/' + ${periode} +'/'+${department_id}}">Show All</a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                                <div class="row col-md-12">
                                <h4 >Detail Realisasi</h4>
                                <table class="table border table-bordered table-sm table-striped small">
                                    <thead>
                                    <tr>
                                        <th class="text-center">No Budget</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Ref</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <span th:each="dataRowDetail: ${dataRow.department_budget}">
                                            <span th:each="dataRowDetailDetail: ${dataRowDetail.budget_detail}">
                                                <span th:each="dataRowSubDetail:${dataRowDetailDetail.realisasi}">
                                            <tr >
                                                    <td class="text-left text-nowrap small" th:text="${dataRowDetail.name}"></td>
                                                    <td class="text-left text-nowrap small" th:text="${#dates.format(dataRowSubDetail.date, 'dd-MMM-yyyy')}"></td>
                                                    <td class="text-left text-nowrap small" th:text="${dataRowSubDetail.ref}"></td>
                                                    <td class="text-left small" th:text="${dataRowSubDetail.narration}"></td>
                                                    <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.budget_realisasi, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            </tr>
                                            </span>
                                        </span>
                                    </span>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center " >SUB TOTAL</th>
                                            <th class="text-right " ></th>
                                            <th class="text-right " ></th>
                                            <th class="text-right " ></th>
                                            <span>
                                            <th class="text-right " th:text="${#numbers.formatDecimal(total_realisasi_detail, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                            </span>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>