<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Budget Department Summary Report</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Budget - Realisasi Chart</h3>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <div class="chart">
                                            <canvas id="areaChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Budget Department Summary</h3>
                                    </div>
                                    <table class="box-body table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Tahun</th>
                                                <th class="text-center">Nilai Budget</th>
                                                <th class="text-center">Realisasi Budget</th>
                                                <th class="text-center">%</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dataRow: ${departmentSummaryDataList}">
                                            <td class="text-left small" th:text="${dataRow.periode}">2018</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                            <td class="text-right small" th:text="${#numbers.formatDecimal(dataRow.persent_budget, 1, 'POINT', 2, 'COMMA')}">0.00></td>
                                            <td class="text-right small">
                                                <a th:href="@{'/budget_department/' + ${dataRow.periode}}">Detail</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th >Total</th>
                                                <th class="text-right"  th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                <th class="text-right" th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                <th class="text-right" th:text="${#numbers.formatDecimal(totalPercent, 1, 'POINT', 2, 'COMMA')}">0.00></th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
    <script th:inline="javascript">
        $(document).ready(function(){
            var color = Chart.helpers.color;
            var ctx = document.getElementById("areaChart")
            var myChart = new Chart(ctx,{
                type: 'line',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${departmentSummaryDataList}"]*/
                        [[${dataRow.periode}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai Budget",
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${departmentSummaryDataList}"]*/
                            [[${dataRow.nilai_budget}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Realisasi Budget',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${departmentSummaryDataList}"]*/
                            [[${dataRow.realisasi_budget}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                }
            })
        })
    </script>
</body>
</html>