<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 th:inline="text">Maintenance Preventive [[${tahun}]]</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO - Invoice, Top 5</h3>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <div class="chart">
                                            <canvas id="areaChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <!-- BAR CHART -->
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Budget - Realisasi, Top 5</h3>
                                        </div>
                                        <div class="box-body chart-responsive">
                                            <div class="chart">
                                                <canvas id="areaChart2" style="height: 250px"></canvas>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                <!-- /.box -->
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Maintenance Preventive Projects Report</h3>
                                    </div>
                                    <div class="box-body" th:each="dataRow : ${preventiveDataList}">
                                        <span th:each="dataRowDetail : ${dataRow.detail}">
                                            <div class="row col-md-12">
                                                <h4 th:text="${dataRowDetail.customer}"></h4>
                                            </div>
                                            <div class="row col-md-12">
                                                <table class="table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                                    <thead>
                                                        <tr>
                                                            <th class="small text-center">Area</th>
                                                            <th class="small text-center">PO</th>
                                                            <th class="small text-center">Penagihan</th>
                                                            <th class="small text-center">%</th>
                                                            <th class="small text-center">Nilai Budget</th>
                                                            <th class="small text-center">Realisasi Budget</th>
                                                            <th class="small text-center">%</th>
                                                            <th class="small text-center">Laba/Rugi</th>
                                                            <th class="small text-center">%</th>
                                                            <th class="small text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <span th:each="dataRowSubDetail : ${dataRowDetail.detail}">
                                                            <tr>
                                                                <td th:text="${dataRowSubDetail.area}" class="small">Sumbagsel (Paket 1) / Bengkulu DMT</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.nilai_po, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.nilai_penagihan, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.persent_penagihan, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.persent_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.laba_rugi, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <!--<td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.persent_laba_rugi, 1, 'POINT', 2, 'COMMA')}">0.00</td>-->
                                                                <td class="text-right small" th:if="${dataRowSubDetail.nilai_penagihan != 0}" th:text="${#numbers.formatDecimal(dataRowSubDetail.laba_rugi/dataRowSubDetail.nilai_penagihan*100, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <th class="text-right" th:if="${dataRowSubDetail.nilai_penagihan == 0}">0.00</th>
                                                                <td class="text-right small">
                                                                    <a th:href="@{'/preventive/download/xls/' + ${dataRowDetail.customer_id} + '/' + ${dataRow.tahun} + '/' + ${dataRowSubDetail.area_id}}">Download</a> ||
                                                                    <a th:href="@{'/preventive/details/' + ${dataRowDetail.customer_id} + '/' + ${dataRow.tahun} + '/' + ${dataRowSubDetail.area_id}}">Details</a>
                                                                </td>
                                                            </tr>
                                                        </span>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Subtotal</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(dataRowDetail.nilai_po, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(dataRowDetail.nilai_penagihan, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:if="${dataRowDetail.nilai_po != 0}" th:text="${#numbers.formatDecimal(dataRowDetail.nilai_penagihan/dataRowDetail.nilai_po*100, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:if="${dataRowDetail.nilai_po == 0}">0.00</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(dataRowDetail.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(dataRowDetail.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:if="${dataRowDetail.nilai_budget != 0}" th:text="${#numbers.formatDecimal(dataRowDetail.realisasi_budget/dataRowDetail.nilai_budget*100, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:if="${dataRowDetail.nilai_budget == 0}">0.00</th>
                                                            <th class="text-right" th:text="${#numbers.formatDecimal(dataRowDetail.nilai_penagihan-dataRowDetail.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:if="${dataRowDetail.nilai_penagihan != 0}" th:text="${#numbers.formatDecimal((dataRowDetail.nilai_penagihan-dataRowDetail.realisasi_budget)/dataRowDetail.nilai_penagihan*100, 1, 'POINT', 2, 'COMMA')}">0.00</th>
                                                            <th class="text-right" th:if="${dataRowDetail.nilai_penagihan == 0}">0.00</th>
                                                            <th class="text-right">-</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </span>
                                        <div class="row col-md-12">
                                            <h4>Total </h4>
                                        </div>
                                        <div class="row col-md-12">
                                            <table class="table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                            <thead>
                                                <tr>
                                                    <th class="small text-center"></th>
                                                    <th class="small text-center">PO</th>
                                                    <th class="small text-center">Penagihan</th>
                                                    <th class="small text-center">%</th>
                                                    <th class="small text-center">Nilai Budget</th>
                                                    <th class="small text-center">Realisasi Budget</th>
                                                    <th class="small text-center">%</th>
                                                    <th class="small text-center">Laba/Rugi</th>
                                                    <th class="small text-center">%</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="small font-weight-bold">TOTAL</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(totalPenagihan, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(total[2], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(total[3], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(totalRealisasi, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(total[4], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small font-weight-bold" th:text="${#numbers.formatDecimal(totalLabRug, 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
    <script th:inline="javascript">
        $(document).ready(function(){
            var color = Chart.helpers.color;
            var ctx = document.getElementById("areaChart")
            var ctx2 = document.getElementById("areaChart2")
            var myChart = new Chart(ctx,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                        [[${dataRow.customer}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai PO",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                            [[${dataRow.nilai_po}]],
                            /*[/]*/
                        ]
                    },
                    {
                        label               : 'Nilai Invoice',
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                        data                : [
                            /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                            [[${dataRow.nilai_penagihan}]],
                            /*[/]*/
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.labels[tooltipItems.index] + ": " + data.datasets[0].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 30000000000
                            }
                        }]
                    }
                }
            })

            var myChart2 = new Chart(ctx2,{
                type: 'bar',
                data: {
                    labels  : [
                        /*[# th:each="dataRow: ${preventiveDataListGraph1}"]*/
                        [[${dataRow.customer}]],
                        /*[/]*/
                    ],
                    datasets:[{
                        label: "Nilai Budget",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(20).rgbString(),
                        data:[
                            /*[# th:each="dataRow: ${preventiveDataListGraph1}"]*/
                            [[${dataRow.nilai_budget}]],
                            /*[/]*/
                        ]
                    },
                        {
                            label               : 'Realisasi Budget',
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            backgroundColor: color(window.chartColors.blue).alpha(5).rgbString(),
                            data                : [
                                /*[# th:each="dataRow: ${preventiveDataListGraph1}"]*/
                                [[${dataRow.realisasi_budget}]],
                                /*[/]*/
                            ]
                        }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return data.labels[tooltipItems.index] + ": " + data.datasets[0].data[tooltipItems.index].toLocaleString();
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                callback: function(value, index, values) {
                                    return value.toLocaleString();
                                },
                                suggestedMax: 30000000000
                            }
                        }]
                    }
                }
            })
        })
        </script>
</body>
</html>