<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header_prasetia}"></head>
<body class="bg-gray">
    <nav th:replace="~{fragments/navbar :: navbar_prasetia}"></nav>
    <main role="main" class="container">
        <div class="box">
            <div class="box-body">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">PO - Invoice, Top 5</h3>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <div class="chart">
                                            <canvas id="areaChart" style="height: 250px"></canvas>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <!-- BAR CHART -->
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Budget - Realisasi, Top 5</h3>
                                        </div>
                                        <div class="box-body chart-responsive">
                                            <div class="chart">
                                                <canvas id="areaChart2" style="height: 250px"></canvas>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                <!-- /.box -->
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Maintenance Preventive Projects Report</h3>
                                    </div>
                                    <div class="box-body" th:each="dataRow : ${preventiveDataList}">
                                        <span th:each="dataRowDetail : ${dataRow.detail}">
                                            <div class="row col-md-12">
                                                <h4 th:text="${dataRowDetail.customer}"></h4>
                                            </div>
                                            <div class="row col-md-12">
                                                <table class="table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                                    <thead>
                                                        <tr>
                                                            <th class="small text-center">Area</th>
                                                            <th class="small text-center">PO</th>
                                                            <th class="small text-center">Penagihan</th>
                                                            <th class="small text-center">%</th>
                                                            <th class="small text-center">Nilai Budget</th>
                                                            <th class="small text-center">Realisasi Budget</th>
                                                            <th class="small text-center">%</th>
                                                            <th class="small text-center">Laba/Rugi</th>
                                                            <th class="small text-center">%</th>
                                                            <th class="small text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <span th:each="dataRowSubDetail : ${dataRowDetail.detail}">
                                                            <tr>
                                                                <td th:text="${dataRowSubDetail.area}" class="small">Sumbagsel (Paket 1) / Bengkulu DMT</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.nilai_po, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.nilai_penagihan, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.persent_penagihan, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.nilai_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.realisasi_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.persent_budget, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.laba_rugi, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small" th:text="${#numbers.formatDecimal(dataRowSubDetail.persent_laba_rugi, 1, 'POINT', 2, 'COMMA')}">0.00</td>
                                                                <td class="text-right small">
                                                                    <a th:href="@{'/preventive/download/xls/' + ${dataRowDetail.customer_id} + '/' + ${dataRow.tahun} + '/' + ${dataRowSubDetail.area_id}}">Download</a> ||
                                                                    <a th:href="@{'/preventive/details/' + ${dataRowDetail.customer_id} + '/' + ${dataRow.tahun} + '/' + ${dataRowSubDetail.area_id}}">Details</a>
                                                                </td>
                                                            </tr>
                                                        </span>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </span>
                                        <div class="row col-md-12">
                                            <h4>Total </h4>
                                        </div>
                                        <div class="row col-md-12">
                                            <table class="table-responsive no-padding table table-striped table-sm table-hover table-bordered display nowrap border border-dark">
                                            <thead>
                                                <tr>
                                                    <th class="small text-center"></th>
                                                    <th class="small text-center">PO</th>
                                                    <th class="small text-center">Penagihan</th>
                                                    <th class="small text-center">%</th>
                                                    <th class="small text-center">Nilai Budget</th>
                                                    <th class="small text-center">Realisasi Budget</th>
                                                    <th class="small text-center">%</th>
                                                    <th class="small text-center">Laba/Rugi</th>
                                                    <th class="small text-center">%</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="small">TOTAL</th>
                                                    <th class="text-right small" th:text="${#numbers.formatDecimal(total[0], 1, 'POINT', 2, 'COMMA')}">0,00</th>
                                                    <th class="text-right small" th:text="${#numbers.formatDecimal(total[1], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small">-</th>
                                                    <th class="text-right small" th:text="${#numbers.formatDecimal(total[2], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small" th:text="${#numbers.formatDecimal(total[3], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small">-</th>
                                                    <th class="text-right small" th:text="${#numbers.formatDecimal(total[4], 1, 'POINT', 2, 'COMMA')}" >0,00</th>
                                                    <th class="text-right small">-</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/header :: footer_prasetia}"></footer>
    <script th:inline="javascript">
        $(document).ready(function()
        {
            "use strict";
            var areaChartData = {
              labels  :
              [
                /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                    [[${dataRow.customer}]],
                /*[/]*/
              ],
              datasets:
              [
                {
                  label               : 'Nilai Budget',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                :
                      [
                          /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                            [[${dataRow.nilai_po}]],
                          /*[/]*/
                      ]
                },
                {
                  label               : 'Realisasi Budget',
                  fillColor           : 'rgba(60,141,188,0.9)',
                  strokeColor         : 'rgba(60,141,188,0.8)',
                  pointColor          : '#3b8bba',
                  pointStrokeColor    : 'rgba(60,141,188,1)',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data                :
                      [
                          /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                            [[${dataRow.nilai_penagihan}]],
                          /*[/]*/
                      ]
                }
              ]
            }
            var barChartCanvas                   = $('#areaChart').get(0).getContext('2d')
            var barChart                         = new Chart(barChartCanvas)
            var barChartData                     = areaChartData
            barChartData.datasets[1].fillColor   = '#00a65a'
            barChartData.datasets[1].strokeColor = '#00a65a'
            barChartData.datasets[1].pointColor  = '#00a65a'
            var barChartOptions                  =
            {
              //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
              scaleBeginAtZero        : true,
              //Boolean - Whether grid lines are shown across the chart
              scaleShowGridLines      : true,
              //String - Colour of the grid lines
              scaleGridLineColor      : 'rgba(0,0,0,.05)',
              //Number - Width of the grid lines
              scaleGridLineWidth      : 1,
              //Boolean - Whether to show horizontal lines (except X axis)
              scaleShowHorizontalLines: true,
              //Boolean - Whether to show vertical lines (except Y axis)
              scaleShowVerticalLines  : true,
              //Boolean - If there is a stroke on each bar
              barShowStroke           : true,
              //Number - Pixel width of the bar stroke
              barStrokeWidth          : 2,
              //Number - Spacing between each of the X value sets
              barValueSpacing         : 3,
              //Number - Spacing between data sets within X values
              barDatasetSpacing       : 1,
              //String - A legend template
              legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
              //Boolean - whether to make the chart responsive
              responsive              : true,
              maintainAspectRatio     : true
            }

            barChartOptions.datasetFill = false
            barChart.Bar(barChartData, barChartOptions)

            "use strict";
            var areaChartData = {
              labels  :
              [
                /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                    [[${dataRow.customer}]],
                /*[/]*/
              ],
              datasets:
              [
                {
                  label               : 'Nilai Budget',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                :
                      [
                          /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                            [[${dataRow.nilai_budget}]],
                          /*[/]*/
                      ]
                },
                {
                  label               : 'Realisasi Budget',
                  fillColor           : 'rgba(60,141,188,0.9)',
                  strokeColor         : 'rgba(60,141,188,0.8)',
                  pointColor          : '#3b8bba',
                  pointStrokeColor    : 'rgba(60,141,188,1)',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data                :
                      [
                          /*[# th:each="dataRow: ${preventiveDataListGraph}"]*/
                            [[${dataRow.realisasi_budget}]],
                          /*[/]*/
                      ]
                }
              ]
            }
            var barChartCanvas                   = $('#areaChart2').get(0).getContext('2d')
            var barChart                         = new Chart(barChartCanvas)
            var barChartData                     = areaChartData
            barChartData.datasets[1].fillColor   = '#00a65a'
            barChartData.datasets[1].strokeColor = '#00a65a'
            barChartData.datasets[1].pointColor  = '#00a65a'
            var barChartOptions                  =
            {
              //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
              scaleBeginAtZero        : true,
              //Boolean - Whether grid lines are shown across the chart
              scaleShowGridLines      : true,
              //String - Colour of the grid lines
              scaleGridLineColor      : 'rgba(0,0,0,.05)',
              //Number - Width of the grid lines
              scaleGridLineWidth      : 1,
              //Boolean - Whether to show horizontal lines (except X axis)
              scaleShowHorizontalLines: true,
              //Boolean - Whether to show vertical lines (except Y axis)
              scaleShowVerticalLines  : true,
              //Boolean - If there is a stroke on each bar
              barShowStroke           : true,
              //Number - Pixel width of the bar stroke
              barStrokeWidth          : 2,
              //Number - Spacing between each of the X value sets
              barValueSpacing         : 3,
              //Number - Spacing between data sets within X values
              barDatasetSpacing       : 1,
              //String - A legend template
              legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
              //Boolean - whether to make the chart responsive
              responsive              : true,
              maintainAspectRatio     : true
            }

            barChartOptions.datasetFill = false
            barChart.Bar(barChartData, barChartOptions)

        })
    </script>
</body>
</html>